In [103]:
import findspark
findspark.init()

In [110]:
import pyspark
from pyspark.sql.session import SparkSession

In [138]:
spark = SparkSession.builder \
    .appName("ch03") \
    .master("yarn") \
    .config("spark.submit.deployMode", "client") \
    .config("spark.executor.memory", "2g") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

25/05/11 10:49:51 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [112]:
spark.sparkContext

In [102]:
!hdfs dfs -ls /data/retail-data/by-day

Found 305 items
-rw-r--r--   2 hadoop supergroup     275001 2025-05-10 14:57 /data/retail-data/by-day/2010-12-01.csv
-rw-r--r--   2 hadoop supergroup     191826 2025-05-10 14:57 /data/retail-data/by-day/2010-12-02.csv
-rw-r--r--   2 hadoop supergroup     190700 2025-05-10 14:57 /data/retail-data/by-day/2010-12-03.csv
-rw-r--r--   2 hadoop supergroup     246056 2025-05-10 14:57 /data/retail-data/by-day/2010-12-05.csv
-rw-r--r--   2 hadoop supergroup     339039 2025-05-10 14:57 /data/retail-data/by-day/2010-12-06.csv
-rw-r--r--   2 hadoop supergroup     255832 2025-05-10 14:57 /data/retail-data/by-day/2010-12-07.csv
-rw-r--r--   2 hadoop supergroup     235974 2025-05-10 14:57 /data/retail-data/by-day/2010-12-08.csv
-rw-r--r--   2 hadoop supergroup     252904 2025-05-10 14:58 /data/retail-data/by-day/2010-12-09.csv
-rw-r--r--   2 hadoop supergroup     241468 2025-05-10 14:57 /data/retail-data/by-day/2010-12-10.csv
-rw-r--r--   2 hadoop supergroup     132120 2025-05-10 14:57 /data/retail-data/by-day/2010-12-12.csv
-rw-r--r--   2 hadoop supergroup     202021 2025-05-10 14:57 /data/retail-data/by-day/2010-12-13.csv
-rw-r--r--   2 hadoop supergroup     186685 2025-05-10 14:57 /data/retail-data/by-day/2010-12-14.csv
-rw-r--r--   2 hadoop supergroup     122496 2025-05-10 14:58 /data/retail-data/by-day/2010-12-15.csv
-rw-r--r--   2 hadoop supergroup     163452 2025-05-10 14:58 /data/retail-data/by-day/2010-12-16.csv
-rw-r--r--   2 hadoop supergroup     264944 2025-05-10 14:57 /data/retail-data/by-day/2010-12-17.csv
-rw-r--r--   2 hadoop supergroup      47264 2025-05-10 14:57 /data/retail-data/by-day/2010-12-19.csv
-rw-r--r--   2 hadoop supergroup     153561 2025-05-10 14:57 /data/retail-data/by-day/2010-12-20.csv
-rw-r--r--   2 hadoop supergroup     134904 2025-05-10 14:57 /data/retail-data/by-day/2010-12-21.csv
-rw-r--r--   2 hadoop supergroup      25836 2025-05-10 14:58 /data/retail-data/by-day/2010-12-22.csv
-rw-r--r--   2 hadoop supergroup      83192 2025-05-10 14:57 /data/retail-data/by-day/2010-12-23.csv
-rw-r--r--   2 hadoop supergroup     104656 2025-05-10 14:57 /data/retail-data/by-day/2011-01-04.csv
-rw-r--r--   2 hadoop supergroup     153733 2025-05-10 14:57 /data/retail-data/by-day/2011-01-05.csv
-rw-r--r--   2 hadoop supergroup     162100 2025-05-10 14:57 /data/retail-data/by-day/2011-01-06.csv
-rw-r--r--   2 hadoop supergroup     155938 2025-05-10 14:58 /data/retail-data/by-day/2011-01-07.csv
-rw-r--r--   2 hadoop supergroup     101317 2025-05-10 14:57 /data/retail-data/by-day/2011-01-09.csv
-rw-r--r--   2 hadoop supergroup     170418 2025-05-10 14:58 /data/retail-data/by-day/2011-01-10.csv
-rw-r--r--   2 hadoop supergroup     127847 2025-05-10 14:57 /data/retail-data/by-day/2011-01-11.csv
-rw-r--r--   2 hadoop supergroup     158187 2025-05-10 14:57 /data/retail-data/by-day/2011-01-12.csv
-rw-r--r--   2 hadoop supergroup     126109 2025-05-10 14:57 /data/retail-data/by-day/2011-01-13.csv
-rw-r--r--   2 hadoop supergroup     131086 2025-05-10 14:57 /data/retail-data/by-day/2011-01-14.csv
-rw-r--r--   2 hadoop supergroup      58906 2025-05-10 14:57 /data/retail-data/by-day/2011-01-16.csv
-rw-r--r--   2 hadoop supergroup     221821 2025-05-10 14:58 /data/retail-data/by-day/2011-01-17.csv
-rw-r--r--   2 hadoop supergroup     124711 2025-05-10 14:57 /data/retail-data/by-day/2011-01-18.csv
-rw-r--r--   2 hadoop supergroup     124865 2025-05-10 14:57 /data/retail-data/by-day/2011-01-19.csv
-rw-r--r--   2 hadoop supergroup     130157 2025-05-10 14:57 /data/retail-data/by-day/2011-01-20.csv
-rw-r--r--   2 hadoop supergroup     139157 2025-05-10 14:57 /data/retail-data/by-day/2011-01-21.csv
-rw-r--r--   2 hadoop supergroup      80012 2025-05-10 14:57 /data/retail-data/by-day/2011-01-23.csv
-rw-r--r--   2 hadoop supergroup     128813 2025-05-10 14:57 /data/retail-data/by-day/2011-01-24.csv
-rw-r--r--   2 hadoop supergroup     146739 2025-05-10 14:57 /data/retail-data/by-day/2011-01-25.csv
-rw-r--r--   2 hadoop supergroup     113985 2025-05-10 14:57 /data/retail-data/by-day/2011-01-26.csv
-rw-r--r--   2 hadoop supergroup     140033 2025-05-10 14:57 /data/retail-data/by-day/2011-01-27.csv
-rw-r--r--   2 hadoop supergroup      87450 2025-05-10 14:57 /data/retail-data/by-day/2011-01-28.csv
-rw-r--r--   2 hadoop supergroup      66171 2025-05-10 14:57 /data/retail-data/by-day/2011-01-30.csv
-rw-r--r--   2 hadoop supergroup     132774 2025-05-10 14:57 /data/retail-data/by-day/2011-01-31.csv
-rw-r--r--   2 hadoop supergroup     139954 2025-05-10 14:58 /data/retail-data/by-day/2011-02-01.csv
-rw-r--r--   2 hadoop supergroup     124794 2025-05-10 14:57 /data/retail-data/by-day/2011-02-02.csv
-rw-r--r--   2 hadoop supergroup      87779 2025-05-10 14:57 /data/retail-data/by-day/2011-02-03.csv
-rw-r--r--   2 hadoop supergroup     107014 2025-05-10 14:57 /data/retail-data/by-day/2011-02-04.csv
-rw-r--r--   2 hadoop supergroup      25516 2025-05-10 14:57 /data/retail-data/by-day/2011-02-06.csv
-rw-r--r--   2 hadoop supergroup     111980 2025-05-10 14:57 /data/retail-data/by-day/2011-02-07.csv
-rw-r--r--   2 hadoop supergroup     107136 2025-05-10 14:57 /data/retail-data/by-day/2011-02-08.csv
-rw-r--r--   2 hadoop supergroup      75999 2025-05-10 14:57 /data/retail-data/by-day/2011-02-09.csv
-rw-r--r--   2 hadoop supergroup      70942 2025-05-10 14:57 /data/retail-data/by-day/2011-02-10.csv
-rw-r--r--   2 hadoop supergroup      83807 2025-05-10 14:57 /data/retail-data/by-day/2011-02-11.csv
-rw-r--r--   2 hadoop supergroup      57098 2025-05-10 14:57 /data/retail-data/by-day/2011-02-13.csv
-rw-r--r--   2 hadoop supergroup      97341 2025-05-10 14:57 /data/retail-data/by-day/2011-02-14.csv
-rw-r--r--   2 hadoop supergroup     117745 2025-05-10 14:57 /data/retail-data/by-day/2011-02-15.csv
-rw-r--r--   2 hadoop supergroup     106100 2025-05-10 14:57 /data/retail-data/by-day/2011-02-16.csv
-rw-r--r--   2 hadoop supergroup     150882 2025-05-10 14:57 /data/retail-data/by-day/2011-02-17.csv
-rw-r--r--   2 hadoop supergroup      75633 2025-05-10 14:57 /data/retail-data/by-day/2011-02-18.csv
-rw-r--r--   2 hadoop supergroup      78068 2025-05-10 14:57 /data/retail-data/by-day/2011-02-20.csv
-rw-r--r--   2 hadoop supergroup     124088 2025-05-10 14:58 /data/retail-data/by-day/2011-02-21.csv
-rw-r--r--   2 hadoop supergroup     142089 2025-05-10 14:57 /data/retail-data/by-day/2011-02-22.csv
-rw-r--r--   2 hadoop supergroup     138337 2025-05-10 14:57 /data/retail-data/by-day/2011-02-23.csv
-rw-r--r--   2 hadoop supergroup     116769 2025-05-10 14:57 /data/retail-data/by-day/2011-02-24.csv
-rw-r--r--   2 hadoop supergroup      87507 2025-05-10 14:57 /data/retail-data/by-day/2011-02-25.csv
-rw-r--r--   2 hadoop supergroup      74111 2025-05-10 14:57 /data/retail-data/by-day/2011-02-27.csv
-rw-r--r--   2 hadoop supergroup     151947 2025-05-10 14:57 /data/retail-data/by-day/2011-02-28.csv
-rw-r--r--   2 hadoop supergroup     119793 2025-05-10 14:57 /data/retail-data/by-day/2011-03-01.csv
-rw-r--r--   2 hadoop supergroup      85302 2025-05-10 14:57 /data/retail-data/by-day/2011-03-02.csv
-rw-r--r--   2 hadoop supergroup     122010 2025-05-10 14:57 /data/retail-data/by-day/2011-03-03.csv
-rw-r--r--   2 hadoop supergroup      97942 2025-05-10 14:57 /data/retail-data/by-day/2011-03-04.csv
-rw-r--r--   2 hadoop supergroup      76977 2025-05-10 14:58 /data/retail-data/by-day/2011-03-06.csv
-rw-r--r--   2 hadoop supergroup     172784 2025-05-10 14:58 /data/retail-data/by-day/2011-03-07.csv
-rw-r--r--   2 hadoop supergroup     141880 2025-05-10 14:57 /data/retail-data/by-day/2011-03-08.csv
-rw-r--r--   2 hadoop supergroup     113715 2025-05-10 14:57 /data/retail-data/by-day/2011-03-09.csv
-rw-r--r--   2 hadoop supergroup     100881 2025-05-10 14:58 /data/retail-data/by-day/2011-03-10.csv
-rw-r--r--   2 hadoop supergroup      84393 2025-05-10 14:57 /data/retail-data/by-day/2011-03-11.csv
-rw-r--r--   2 hadoop supergroup      48917 2025-05-10 14:57 /data/retail-data/by-day/2011-03-13.csv
-rw-r--r--   2 hadoop supergroup      99595 2025-05-10 14:57 /data/retail-data/by-day/2011-03-14.csv
-rw-r--r--   2 hadoop supergroup     112853 2025-05-10 14:57 /data/retail-data/by-day/2011-03-15.csv
-rw-r--r--   2 hadoop supergroup      78923 2025-05-10 14:57 /data/retail-data/by-day/2011-03-16.csv
-rw-r--r--   2 hadoop supergroup     180245 2025-05-10 14:57 /data/retail-data/by-day/2011-03-17.csv
-rw-r--r--   2 hadoop supergroup     122082 2025-05-10 14:57 /data/retail-data/by-day/2011-03-18.csv
-rw-r--r--   2 hadoop supergroup     130096 2025-05-10 14:57 /data/retail-data/by-day/2011-03-20.csv
-rw-r--r--   2 hadoop supergroup      96588 2025-05-10 14:58 /data/retail-data/by-day/2011-03-21.csv
-rw-r--r--   2 hadoop supergroup     206516 2025-05-10 14:57 /data/retail-data/by-day/2011-03-22.csv
-rw-r--r--   2 hadoop supergroup     116861 2025-05-10 14:57 /data/retail-data/by-day/2011-03-23.csv
-rw-r--r--   2 hadoop supergroup     141988 2025-05-10 14:57 /data/retail-data/by-day/2011-03-24.csv
-rw-r--r--   2 hadoop supergroup     122156 2025-05-10 14:57 /data/retail-data/by-day/2011-03-25.csv
-rw-r--r--   2 hadoop supergroup      67786 2025-05-10 14:57 /data/retail-data/by-day/2011-03-27.csv
-rw-r--r--   2 hadoop supergroup     147212 2025-05-10 14:57 /data/retail-data/by-day/2011-03-28.csv
-rw-r--r--   2 hadoop supergroup     173104 2025-05-10 14:57 /data/retail-data/by-day/2011-03-29.csv
-rw-r--r--   2 hadoop supergroup     141435 2025-05-10 14:57 /data/retail-data/by-day/2011-03-30.csv
-rw-r--r--   2 hadoop supergroup     152420 2025-05-10 14:58 /data/retail-data/by-day/2011-03-31.csv
-rw-r--r--   2 hadoop supergroup     112493 2025-05-10 14:57 /data/retail-data/by-day/2011-04-01.csv
-rw-r--r--   2 hadoop supergroup      66518 2025-05-10 14:57 /data/retail-data/by-day/2011-04-03.csv
-rw-r--r--   2 hadoop supergroup     150711 2025-05-10 14:58 /data/retail-data/by-day/2011-04-04.csv
-rw-r--r--   2 hadoop supergroup     107560 2025-05-10 14:57 /data/retail-data/by-day/2011-04-05.csv
-rw-r--r--   2 hadoop supergroup      98068 2025-05-10 14:57 /data/retail-data/by-day/2011-04-06.csv
-rw-r--r--   2 hadoop supergroup     136252 2025-05-10 14:57 /data/retail-data/by-day/2011-04-07.csv
-rw-r--r--   2 hadoop supergroup     125969 2025-05-10 14:57 /data/retail-data/by-day/2011-04-08.csv
-rw-r--r--   2 hadoop supergroup      85637 2025-05-10 14:57 /data/retail-data/by-day/2011-04-10.csv
-rw-r--r--   2 hadoop supergroup     112516 2025-05-10 14:57 /data/retail-data/by-day/2011-04-11.csv
-rw-r--r--   2 hadoop supergroup     104116 2025-05-10 14:57 /data/retail-data/by-day/2011-04-12.csv
-rw-r--r--   2 hadoop supergroup      95007 2025-05-10 14:57 /data/retail-data/by-day/2011-04-13.csv
-rw-r--r--   2 hadoop supergroup     144236 2025-05-10 14:57 /data/retail-data/by-day/2011-04-14.csv
-rw-r--r--   2 hadoop supergroup     128980 2025-05-10 14:57 /data/retail-data/by-day/2011-04-15.csv
-rw-r--r--   2 hadoop supergroup      87658 2025-05-10 14:57 /data/retail-data/by-day/2011-04-17.csv
-rw-r--r--   2 hadoop supergroup     280118 2025-05-10 14:57 /data/retail-data/by-day/2011-04-18.csv
-rw-r--r--   2 hadoop supergroup     165965 2025-05-10 14:58 /data/retail-data/by-day/2011-04-19.csv
-rw-r--r--   2 hadoop supergroup      91865 2025-05-10 14:57 /data/retail-data/by-day/2011-04-20.csv
-rw-r--r--   2 hadoop supergroup     170023 2025-05-10 14:57 /data/retail-data/by-day/2011-04-21.csv
-rw-r--r--   2 hadoop supergroup     167480 2025-05-10 14:57 /data/retail-data/by-day/2011-04-26.csv
-rw-r--r--   2 hadoop supergroup     116613 2025-05-10 14:57 /data/retail-data/by-day/2011-04-27.csv
-rw-r--r--   2 hadoop supergroup     106481 2025-05-10 14:57 /data/retail-data/by-day/2011-04-28.csv
-rw-r--r--   2 hadoop supergroup      40884 2025-05-10 14:58 /data/retail-data/by-day/2011-05-01.csv
-rw-r--r--   2 hadoop supergroup     126563 2025-05-10 14:57 /data/retail-data/by-day/2011-05-03.csv
-rw-r--r--   2 hadoop supergroup     105162 2025-05-10 14:57 /data/retail-data/by-day/2011-05-04.csv
-rw-r--r--   2 hadoop supergroup     162318 2025-05-10 14:57 /data/retail-data/by-day/2011-05-05.csv
-rw-r--r--   2 hadoop supergroup     180297 2025-05-10 14:57 /data/retail-data/by-day/2011-05-06.csv
-rw-r--r--   2 hadoop supergroup     136006 2025-05-10 14:57 /data/retail-data/by-day/2011-05-08.csv
-rw-r--r--   2 hadoop supergroup     154043 2025-05-10 14:57 /data/retail-data/by-day/2011-05-09.csv
-rw-r--r--   2 hadoop supergroup     224383 2025-05-10 14:58 /data/retail-data/by-day/2011-05-10.csv
-rw-r--r--   2 hadoop supergroup     151121 2025-05-10 14:57 /data/retail-data/by-day/2011-05-11.csv
-rw-r--r--   2 hadoop supergroup     175096 2025-05-10 14:57 /data/retail-data/by-day/2011-05-12.csv
-rw-r--r--   2 hadoop supergroup     125524 2025-05-10 14:57 /data/retail-data/by-day/2011-05-13.csv
-rw-r--r--   2 hadoop supergroup      73038 2025-05-10 14:57 /data/retail-data/by-day/2011-05-15.csv
-rw-r--r--   2 hadoop supergroup     140801 2025-05-10 14:57 /data/retail-data/by-day/2011-05-16.csv
-rw-r--r--   2 hadoop supergroup     168847 2025-05-10 14:57 /data/retail-data/by-day/2011-05-17.csv
-rw-r--r--   2 hadoop supergroup     121774 2025-05-10 14:57 /data/retail-data/by-day/2011-05-18.csv
-rw-r--r--   2 hadoop supergroup     172737 2025-05-10 14:57 /data/retail-data/by-day/2011-05-19.csv
-rw-r--r--   2 hadoop supergroup     100198 2025-05-10 14:57 /data/retail-data/by-day/2011-05-20.csv
-rw-r--r--   2 hadoop supergroup     141114 2025-05-10 14:57 /data/retail-data/by-day/2011-05-22.csv
-rw-r--r--   2 hadoop supergroup     144869 2025-05-10 14:57 /data/retail-data/by-day/2011-05-23.csv
-rw-r--r--   2 hadoop supergroup     153615 2025-05-10 14:57 /data/retail-data/by-day/2011-05-24.csv
-rw-r--r--   2 hadoop supergroup     116151 2025-05-10 14:57 /data/retail-data/by-day/2011-05-25.csv
-rw-r--r--   2 hadoop supergroup      86137 2025-05-10 14:57 /data/retail-data/by-day/2011-05-26.csv
-rw-r--r--   2 hadoop supergroup     103064 2025-05-10 14:57 /data/retail-data/by-day/2011-05-27.csv
-rw-r--r--   2 hadoop supergroup      57243 2025-05-10 14:57 /data/retail-data/by-day/2011-05-29.csv
-rw-r--r--   2 hadoop supergroup     112113 2025-05-10 14:57 /data/retail-data/by-day/2011-05-31.csv
-rw-r--r--   2 hadoop supergroup     126676 2025-05-10 14:57 /data/retail-data/by-day/2011-06-01.csv
-rw-r--r--   2 hadoop supergroup     139233 2025-05-10 14:57 /data/retail-data/by-day/2011-06-02.csv
-rw-r--r--   2 hadoop supergroup      75454 2025-05-10 14:57 /data/retail-data/by-day/2011-06-03.csv
-rw-r--r--   2 hadoop supergroup     140061 2025-05-10 14:57 /data/retail-data/by-day/2011-06-05.csv
-rw-r--r--   2 hadoop supergroup     109829 2025-05-10 14:57 /data/retail-data/by-day/2011-06-06.csv
-rw-r--r--   2 hadoop supergroup     171241 2025-05-10 14:57 /data/retail-data/by-day/2011-06-07.csv
-rw-r--r--   2 hadoop supergroup     203086 2025-05-10 14:57 /data/retail-data/by-day/2011-06-08.csv
-rw-r--r--   2 hadoop supergroup     162227 2025-05-10 14:57 /data/retail-data/by-day/2011-06-09.csv
-rw-r--r--   2 hadoop supergroup      93701 2025-05-10 14:57 /data/retail-data/by-day/2011-06-10.csv
-rw-r--r--   2 hadoop supergroup      97835 2025-05-10 14:57 /data/retail-data/by-day/2011-06-12.csv
-rw-r--r--   2 hadoop supergroup     129767 2025-05-10 14:58 /data/retail-data/by-day/2011-06-13.csv
-rw-r--r--   2 hadoop supergroup     140214 2025-05-10 14:57 /data/retail-data/by-day/2011-06-14.csv
-rw-r--r--   2 hadoop supergroup     151127 2025-05-10 14:57 /data/retail-data/by-day/2011-06-15.csv
-rw-r--r--   2 hadoop supergroup     136339 2025-05-10 14:57 /data/retail-data/by-day/2011-06-16.csv
-rw-r--r--   2 hadoop supergroup      85739 2025-05-10 14:57 /data/retail-data/by-day/2011-06-17.csv
-rw-r--r--   2 hadoop supergroup     105190 2025-05-10 14:58 /data/retail-data/by-day/2011-06-19.csv
-rw-r--r--   2 hadoop supergroup     175539 2025-05-10 14:58 /data/retail-data/by-day/2011-06-20.csv
-rw-r--r--   2 hadoop supergroup     134322 2025-05-10 14:57 /data/retail-data/by-day/2011-06-21.csv
-rw-r--r--   2 hadoop supergroup      91369 2025-05-10 14:58 /data/retail-data/by-day/2011-06-22.csv
-rw-r--r--   2 hadoop supergroup     175463 2025-05-10 14:57 /data/retail-data/by-day/2011-06-23.csv
-rw-r--r--   2 hadoop supergroup      91308 2025-05-10 14:57 /data/retail-data/by-day/2011-06-24.csv
-rw-r--r--   2 hadoop supergroup      64579 2025-05-10 14:58 /data/retail-data/by-day/2011-06-26.csv
-rw-r--r--   2 hadoop supergroup     104370 2025-05-10 14:57 /data/retail-data/by-day/2011-06-27.csv
-rw-r--r--   2 hadoop supergroup      92153 2025-05-10 14:57 /data/retail-data/by-day/2011-06-28.csv
-rw-r--r--   2 hadoop supergroup     117488 2025-05-10 14:57 /data/retail-data/by-day/2011-06-29.csv
-rw-r--r--   2 hadoop supergroup     143253 2025-05-10 14:57 /data/retail-data/by-day/2011-06-30.csv
-rw-r--r--   2 hadoop supergroup      90752 2025-05-10 14:57 /data/retail-data/by-day/2011-07-01.csv
-rw-r--r--   2 hadoop supergroup      54798 2025-05-10 14:58 /data/retail-data/by-day/2011-07-03.csv
-rw-r--r--   2 hadoop supergroup     189204 2025-05-10 14:57 /data/retail-data/by-day/2011-07-04.csv
-rw-r--r--   2 hadoop supergroup     189831 2025-05-10 14:57 /data/retail-data/by-day/2011-07-05.csv
-rw-r--r--   2 hadoop supergroup     159436 2025-05-10 14:57 /data/retail-data/by-day/2011-07-06.csv
-rw-r--r--   2 hadoop supergroup     171634 2025-05-10 14:58 /data/retail-data/by-day/2011-07-07.csv
-rw-r--r--   2 hadoop supergroup     140138 2025-05-10 14:57 /data/retail-data/by-day/2011-07-08.csv
-rw-r--r--   2 hadoop supergroup      74191 2025-05-10 14:57 /data/retail-data/by-day/2011-07-10.csv
-rw-r--r--   2 hadoop supergroup     133475 2025-05-10 14:57 /data/retail-data/by-day/2011-07-11.csv
-rw-r--r--   2 hadoop supergroup     144196 2025-05-10 14:57 /data/retail-data/by-day/2011-07-12.csv
-rw-r--r--   2 hadoop supergroup     144027 2025-05-10 14:57 /data/retail-data/by-day/2011-07-13.csv
-rw-r--r--   2 hadoop supergroup     153670 2025-05-10 14:57 /data/retail-data/by-day/2011-07-14.csv
-rw-r--r--   2 hadoop supergroup      99926 2025-05-10 14:57 /data/retail-data/by-day/2011-07-15.csv
-rw-r--r--   2 hadoop supergroup     112983 2025-05-10 14:57 /data/retail-data/by-day/2011-07-17.csv
-rw-r--r--   2 hadoop supergroup     194171 2025-05-10 14:57 /data/retail-data/by-day/2011-07-18.csv
-rw-r--r--   2 hadoop supergroup     147143 2025-05-10 14:57 /data/retail-data/by-day/2011-07-19.csv
-rw-r--r--   2 hadoop supergroup     177416 2025-05-10 14:57 /data/retail-data/by-day/2011-07-20.csv
-rw-r--r--   2 hadoop supergroup     140592 2025-05-10 14:57 /data/retail-data/by-day/2011-07-21.csv
-rw-r--r--   2 hadoop supergroup     113759 2025-05-10 14:57 /data/retail-data/by-day/2011-07-22.csv
-rw-r--r--   2 hadoop supergroup     101031 2025-05-10 14:58 /data/retail-data/by-day/2011-07-24.csv
-rw-r--r--   2 hadoop supergroup     170093 2025-05-10 14:57 /data/retail-data/by-day/2011-07-25.csv
-rw-r--r--   2 hadoop supergroup     112780 2025-05-10 14:57 /data/retail-data/by-day/2011-07-26.csv
-rw-r--r--   2 hadoop supergroup     109514 2025-05-10 14:57 /data/retail-data/by-day/2011-07-27.csv
-rw-r--r--   2 hadoop supergroup     138826 2025-05-10 14:57 /data/retail-data/by-day/2011-07-28.csv
-rw-r--r--   2 hadoop supergroup     101094 2025-05-10 14:57 /data/retail-data/by-day/2011-07-29.csv
-rw-r--r--   2 hadoop supergroup     114650 2025-05-10 14:57 /data/retail-data/by-day/2011-07-31.csv
-rw-r--r--   2 hadoop supergroup     107491 2025-05-10 14:57 /data/retail-data/by-day/2011-08-01.csv
-rw-r--r--   2 hadoop supergroup     120138 2025-05-10 14:57 /data/retail-data/by-day/2011-08-02.csv
-rw-r--r--   2 hadoop supergroup     140576 2025-05-10 14:57 /data/retail-data/by-day/2011-08-03.csv
-rw-r--r--   2 hadoop supergroup     162548 2025-05-10 14:57 /data/retail-data/by-day/2011-08-04.csv

In [113]:
static_data_frame = spark.read.option("header", True).option("inferSchema", True).csv("hdfs:///data/retail-data/by-day/*.csv")

In [114]:
static_data_frame.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [115]:
static_data_frame.createOrReplaceTempView("retail_data")
static_schema = static_data_frame.schema

Which customer making larger purchase day by day

In [116]:
# SQL way
spark.sql("""
    select DATE(InvoiceDate), CustomerID, round(sum(UnitPrice * Quantity), 2) as total_cost
    from retail_data
    where CustomerID is not NULL
    group by CustomerID, DATE(InvoiceDate)
    order by total_cost desc
    limit 5
""").show()

+-----------+----------+----------+
|InvoiceDate|CustomerID|total_cost|
+-----------+----------+----------+
| 2011-09-20|   17450.0|  71601.44|
| 2011-09-15|   18102.0|  31661.54|
| 2011-10-21|   18102.0|  29693.82|
| 2010-12-07|   18102.0|  25920.37|
| 2011-10-20|   14646.0|  25833.56|
+-----------+----------+----------+

In [117]:
from pyspark.sql.functions import col, desc, window, to_date, sum as _sum, round

#### window

<pre>
window() is used to group data into time-based buckets for aggregations on streaming or static datasets with timestamp/date columns.
For "1 day" window, record with timestamp 2025-05-07 12:04:56 falls into:
Window: 
start = 2025-05-07 00:00:00
end =   2025-05-08 00:00:00
</pre>

In [118]:
static_data_frame.selectExpr(
    "InvoiceDate",
    "CustomerID", 
    "(UnitPrice * Quantity) as cost") \
    .where(col("CustomerID").isNotNull()) \
    .groupBy(col("CustomerID"), window(col("InvoiceDate"), "1 day")) \
    .agg(round(_sum(col("cost")), 2).alias("cost")) \
    .withColumn("InvoiceDate", col("window").getItem("start")) \
    .orderBy(desc("cost")) \
    .limit(5) \
    .show()

+----------+--------------------+--------+-------------------+
|CustomerID|              window|    cost|        InvoiceDate|
+----------+--------------------+--------+-------------------+
|   17450.0|{2011-09-20 00:00...|71601.44|2011-09-20 00:00:00|
|   18102.0|{2011-09-15 00:00...|31661.54|2011-09-15 00:00:00|
|   18102.0|{2011-10-21 00:00...|29693.82|2011-10-21 00:00:00|
|   18102.0|{2010-12-07 00:00...|25920.37|2010-12-07 00:00:00|
|   14646.0|{2011-10-20 00:00...|25833.56|2011-10-20 00:00:00|
+----------+--------------------+--------+-------------------+

#### readStream

In [125]:
streaming_df = spark.readStream \
               .schema(static_schema) \
               .option("maxFilesPerTrigger", 100) \
               .format("csv") \
               .option("header", True) \
               .load("hdfs:///data/retail-data/by-day/*.csv")

In [134]:
purchase_day = streaming_df \
            .selectExpr(
                "InvoiceDate",
                "CustomerID", 
                "(UnitPrice * Quantity) as cost") \
            .where(col("CustomerID").isNotNull()) \
            .groupBy("CustomerID", window(col("InvoiceDate"), "1 day")) \
            .agg(round(_sum(col("cost")), 2).alias("total_cost")) \
            .orderBy(desc("total_cost"))

In [ ]:
query = purchase_day.writeStream \
        .format("console") \
        .queryName("customer_purchase") \
        .outputMode("complete")

query.start()

25/05/11 09:43:47 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-66b528eb-6587-4bb7-9189-11abf24a966e. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
25/05/11 09:43:47 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

25/05/11 09:43:50 WARN FileStreamSource: Listed 305 file(s) in 2765 ms

-------------------------------------------
Batch: 0
-------------------------------------------
+----------+--------------------+----------+
|CustomerID|              window|total_cost|
+----------+--------------------+----------+
|   12931.0|{2011-08-04 00:00...|  19045.48|
|   17949.0|{2011-06-30 00:00...|  18854.78|
|   14646.0|{2011-03-29 00:00...|   18247.5|
|   16684.0|{2011-10-05 00:00...|  18047.42|
|   14156.0|{2011-01-14 00:00...|  16774.72|
|   12415.0|{2011-03-03 00:00...|  16558.14|
|   12415.0|{2011-10-05 00:00...|  16471.77|
|   18102.0|{2011-06-14 00:00...|  14471.92|
|   12415.0|{2011-02-15 00:00...|  14022.92|
|   12415.0|{2011-05-17 00:00...|   11924.8|
|   18102.0|{2011-02-07 00:00...|  10535.48|
|   14646.0|{2011-01-14 00:00...|  10389.06|
|   15769.0|{2011-03-17 00:00...|   10065.0|
|   14646.0|{2011-11-10 00:00...|   9823.12|
|   18102.0|{2011-05-17 00:00...|   9270.08|
|   18102.0|{2011-05-16 00:00...|   8895.66|
|   14156.0|{2011-09-05 00:00...|   8343.86|
|   14646.0|{2011-09-13 00:00...|   8281.12|
|   14646.0|{2011-01-21 00:00...|    8060.3|
|   14088.0|{2011-06-02 00:00...|   7809.93|
+----------+--------------------+----------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+----------+--------------------+----------+
|CustomerID|              window|total_cost|
+----------+--------------------+----------+
|   17450.0|{2011-09-20 00:00...|  71601.44|
|   18102.0|{2011-09-15 00:00...|  31661.54|
|   18102.0|{2010-12-07 00:00...|  25920.37|
|   14646.0|{2011-10-20 00:00...|  25833.56|
|   12415.0|{2011-06-15 00:00...|  23426.81|
|   12415.0|{2011-08-18 00:00...|  21880.44|
|   14646.0|{2011-08-11 00:00...|  19150.66|
|   12931.0|{2011-08-04 00:00...|  19045.48|
|   17949.0|{2011-06-30 00:00...|  18854.78|
|   14646.0|{2011-03-29 00:00...|   18247.5|
|   16684.0|{2011-10-05 00:00...|  18047.42|
|   14156.0|{2011-01-14 00:00...|  16774.72|
|   12415.0|{2011-03-03 00:00...|  16558.14|
|   14646.0|{2011-05-12 00:00...|  16478.46|
|   12415.0|{2011-10-05 00:00...|  16471.77|
|   17450.0|{2011-08-17 00:00...|   16084.9|
|   14646.0|{2011-09-19 00:00...|  15618.28|
|   18102.0|{2011-11-04 00:00...|   15045.0|
|   18102.0|{2011-06-14 00:00...|  14471.92|
|   12415.0|{2011-02-15 00:00...|  14022.92|
+----------+--------------------+----------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+----------+--------------------+----------+
|CustomerID|              window|total_cost|
+----------+--------------------+----------+
|   17450.0|{2011-09-20 00:00...|  71601.44|
|   18102.0|{2011-09-15 00:00...|  31661.54|
|   18102.0|{2011-10-21 00:00...|  29693.82|
|   18102.0|{2010-12-07 00:00...|  25920.37|
|   14646.0|{2011-10-20 00:00...|  25833.56|
|   12415.0|{2011-06-15 00:00...|  23426.81|
|   15749.0|{2011-01-11 00:00...|   22998.4|
|   18102.0|{2011-10-03 00:00...|  22429.69|
|   12415.0|{2011-08-18 00:00...|  21880.44|
|   14646.0|{2011-08-11 00:00...|  19150.66|
|   12931.0|{2011-08-04 00:00...|  19045.48|
|   17949.0|{2011-06-30 00:00...|  18854.78|
|   17450.0|{2011-01-11 00:00...|   18620.2|
|   14646.0|{2011-03-29 00:00...|   18247.5|
|   16684.0|{2011-10-05 00:00...|  18047.42|
|   14156.0|{2011-01-14 00:00...|  16774.72|
|   12415.0|{2011-03-03 00:00...|  16558.14|
|   18102.0|{2011-06-09 00:00...|   16488.0|
|   14646.0|{2011-05-12 00:00...|  16478.46|
|   12415.0|{2011-10-05 00:00...|  16471.77|
+----------+--------------------+----------+
only showing top 20 rows

25/05/11 09:45:04 WARN FileStreamSource: Listed 305 file(s) in 2569 ms

-------------------------------------------
Batch: 3
-------------------------------------------

+----------+--------------------+----------+
|CustomerID|              window|total_cost|
+----------+--------------------+----------+
|   17450.0|{2011-09-20 00:00...|  71601.44|
|   18102.0|{2011-09-15 00:00...|  31661.54|
|   18102.0|{2011-10-21 00:00...|  29693.82|
|   18102.0|{2010-12-07 00:00...|  25920.37|
|   14646.0|{2011-10-20 00:00...|  25833.56|
|   12415.0|{2011-06-15 00:00...|  23426.81|
|   15749.0|{2011-01-11 00:00...|   22998.4|
|   18102.0|{2011-10-03 00:00...|  22429.69|
|   12415.0|{2011-08-18 00:00...|  21880.44|
|   14646.0|{2011-08-11 00:00...|  19150.66|
|   12931.0|{2011-08-04 00:00...|  19045.48|
|   17949.0|{2011-06-30 00:00...|  18854.78|
|   17450.0|{2011-01-11 00:00...|   18620.2|
|   14646.0|{2011-02-21 00:00...|  18279.48|
|   14646.0|{2011-03-29 00:00...|   18247.5|
|   16684.0|{2011-10-05 00:00...|  18047.42|
|   14156.0|{2011-01-14 00:00...|  16774.72|
|   12415.0|{2011-03-03 00:00...|  16558.14|
|   18102.0|{2011-06-09 00:00...|   16488.0|
|   14646.0|{2011-05-12 00:00...|  16478.46|
+----------+--------------------+----------+
only showing top 20 rows

25/05/11 09:45:33 WARN FileStreamSource: Listed 305 file(s) in 2731 ms
25/05/11 09:45:36 WARN FileStreamSource: Listed 305 file(s) in 2522 ms
25/05/11 09:45:38 WARN FileStreamSource: Listed 305 file(s) in 2417 ms
25/05/11 09:45:41 WARN FileStreamSource: Listed 305 file(s) in 2755 ms
25/05/11 09:45:43 WARN FileStreamSource: Listed 305 file(s) in 2576 ms
25/05/11 09:45:46 WARN FileStreamSource: Listed 305 file(s) in 2683 ms
25/05/11 09:45:49 WARN FileStreamSource: Listed 305 file(s) in 2684 ms
25/05/11 09:45:52 WARN FileStreamSource: Listed 305 file(s) in 2656 ms
25/05/11 09:45:54 WARN FileStreamSource: Listed 305 file(s) in 2490 ms

In [136]:
for stream in spark.streams.active:
    stream.stop()

25/05/11 09:45:55 WARN TaskSetManager: Lost task 172.0 in stage 139.0 (TID 28377) (kumar-rke2-2 executor 1): TaskKilled (Stage cancelled: Job 111 cancelled part of cancelled job group 4d09f35c-48e4-4129-a5f0-e1d5aa4b15ff)

### RDD

<pre>
An RDD can hold any type: ints, strings, dicts, objects — Spark doesn't care at this level. It's just distributed data.
</pre>

In [ ]:

rdd = spark.sparkContext.parallelize(range(1000))

In [144]:
rdd.take(3)

[0, 1, 2]

In [145]:
rdd.toDF()

PySparkTypeError: [CANNOT_INFER_SCHEMA_FOR_TYPE] Can not infer schema for type: `int`.

<pre>
To convert to a DataFrame, Spark needs structured rows, not just raw elements like 0, 1, 2.

That's why this fails:
rdd.toDF()  # ❌ PySparkTypeError
</pre>
#### Fix:
<pre>
rdd.map(lambda x: (x,)).toDF(["value"])  # ✅

map(lambda x: (x,)) makes each item a 1-column tuple, like (0,), (1,).
.toDF(["value"]) assigns a column name.
</pre>

In [148]:
df = rdd.map(lambda x: (x,)).toDF(["value"])
df.show(5)

+-----+
|value|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
+-----+
only showing top 5 rows

In [149]:
# Another Way

In [153]:
from pyspark.sql.types import StructType, StructField, IntegerType

schema = StructType([StructField("value", IntegerType(), True)])
df1 = spark.createDataFrame(rdd.map(lambda x: [x]), schema)
df1.show(5)

+-----+
|value|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
+-----+
only showing top 5 rows

In [155]:
rdd.getNumPartitions()

2

### View Data By partitions

In [ ]:
#This will create 10 partitions, allowing Spark to process your data in 10 parallel tasks
rdd1 = spark.sparkContext.parallelize(range(50), numSlices=10)

def show_partition(index, iterator):
    yield index, list(iterator)

partioned_data = rdd1.mapPartitionsWithIndex(show_partition)

for part in partioned_data.collect():
    print(part[0], part[1])

0 [0, 1, 2, 3, 4]
1 [5, 6, 7, 8, 9]
2 [10, 11, 12, 13, 14]
3 [15, 16, 17, 18, 19]
4 [20, 21, 22, 23, 24]
5 [25, 26, 27, 28, 29]
6 [30, 31, 32, 33, 34]
7 [35, 36, 37, 38, 39]
8 [40, 41, 42, 43, 44]
9 [45, 46, 47, 48, 49]

🌀 What's a shuffle?

A shuffle happens when data needs to move between partitions on different nodes. Common operations that cause this:

    groupBy(...)

    join(...)

    distinct(...)

    orderBy(...)

    repartition(...)

When shuffle happens:

    Spark redistributes the data.
    The number of output partitions is controlled by spark.sql.shuffle.partitions.

In [163]:
spark.conf.get("spark.sql.shuffle.partitions")

'200'

In [164]:
spark.stop()